@model Project.Models.Genre.GenreDetailsViewModel
@{
    ViewBag.Title = "View Book Details";
}
<h2 class="text-center">@ViewBag.Title</h2>
<hr/>
<div class="d-flex justify-content-center">
    <div class="card " style="width: 50rem;">
        <div class="card-body">
            <h3 class="card-title text-center">@Model.Name</h3>
            <p class="card-text"><span class="fw-bold">Description: </span>@Model.Description</p>
            <p class="card-text"><span class="fw-bold">Owner: </span>@Model.Owner</p>

        </div>
        <a asp-controller="Book" asp-action="Create" asp-route-id="@Model.Id"
           class="btn btn-primary mb-2">Create book</a>
        @if (Model.Books.Any())
        {
            <div class="row d-flex justify-content-center">
                @foreach (var book in Model.Books)
                {
                    <div class="card" style="width: 20rem;">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <span class="fw-bold">Title: </span> @book.Title
                            </li>
                            <li class="list-group-item"><span class="fw-bold">Description: </span> : @book.Description</li>
                            <li class="list-group-item">
                                <span class="fw-bold">Actions: </span> <a asp-controller="Book"
                                                                  asp-action="Details"
                                                                  asp-route-id="@book.Id"
                                                                          class="btn btn-success mb-2">View</a>
                                <span></span>
                                @if (this.ViewBag.Owner == book.Owner)
                                {
                                    <a asp-controller="Book" asp-action="Edit" asp-route-id="@book.Id"
                                       class="btn btn-primary mb-2">Edit</a>
                                    <span></span>
                                    <a asp-controller="Book" asp-action="Delete" asp-route-id="@book.Id"
                                       class="btn btn-danger mb-2">Delete</a>
                                }
                            </li>
                        </ul>
                    </div>
                }
            </div>
        }
        else{
            <h2>No books</h2>
        }
        @if (Model.Owner == this.ViewBag.Owner)
        {
            <tr class="actions">

                <td>
                    <a asp-controller="Genre" asp-action="Edit" asp-route-id="@Model.Id"
                       class="btn btn-primary">Edit</a> <a asp-controller="Genre" asp-action="Delete"
                                                       asp-route-id="@Model.Id" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </div>

</div>
</div>