@model Exam.Web.Models.TaskFormModel

@{
    ViewData["Title"] = "Create Task";
    var today = DateTime.Now.ToString("yyyy-MM-dd");
}

<h2 class="text-center">Create Task</h2>

<form asp-controller="Task" asp-action="Create" method="post" enctype="multipart/form-data" class="needs-validation" novalidate>
    <div class="form-group">
        <label asp-for="Name" class="form-label"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Description" class="form-label"></label>
        <textarea asp-for="Description" class="form-control"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="LocationId" class="form-label">Locations</label> 
        <select asp-for="LocationId" class="form-control">
            @foreach (var location in ViewBag.Locations)
            {
                <option value="@location.Id">@location.Name</option>
            }

        </select> 
        <span asp-validation-for="LocationId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="EndDate">End Date</label>
        <input asp-for="EndDate" type="date" class="form-control" required min="@today">
        <span asp-validation-for="EndDate" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Budget"></label>
        <input asp-for="Budget" class="form-control" />
        <span asp-validation-for="Budget" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="CategoryId" class="form-label">Category</label>
        <select asp-for="CategoryId" class="form-control">
            @foreach (var category in ViewBag.Categories)
            {
                <option value="@category.Id">@category.CategoryName</option>
            }

        </select>
        <span asp-validation-for="CategoryId" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label hidden="hidden" asp-for="CreatedById" class="form-label">@Model.CreatedById</label>
        <input hidden="hidden" asp-for="CreatedById" class="form-control" aria-required="true" />
        <span asp-validation-for="CreatedById" class="text-danger" hidden="hidden"></span>
    </div>
    <div class="mb-3">
        <label hidden="hidden" asp-for="StatusId" class="form-label">@Model.StatusId</label>
        <input hidden="hidden" asp-for="StatusId" class="form-control" aria-required="true" />
        <span asp-validation-for="StatusId" class="text-danger" hidden="hidden"></span>
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
</form>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>